{% extends "./index.html" %}

{% block title %} Contactos {% endblock %}

{% block body %}
    
    <div class="cuadro">



        <h1>Lista de Contactos</h1> 
       
               <table style="width:80%;"> 
                <thead>
                <th class="lista_contacto">Nombre</th>
                <th class="lista_contacto">Apellido</th>   
                <th colspan="2" class="lista_contacto">Opciones</th>
                </thead>
                <tbody>

                {% for contacto in contacto %}
                <tr>
                <td class="lista_contacto">
                    {{contacto.nombre}} 
                </td>  
                <td class="lista_contacto"> 
                    {{contacto.apellido}}
                </td>
                <td class="lista_contacto">
                    <a href="{% url 'contacto_editar' contacto.pk %}" ><i class="fa-solid fa-pen-to-square" style="color:green;"></i></a> 
                </td>
                    <td class="lista_contacto">
                    <a href="{% url 'elimina_contacto' contacto.pk %}" ><i class="fa-solid fa-trash" style="color:red;"></i></a> 
                </td>
            </tr>
                {% endfor %} 
            </tbody>   
            </table>
            <br>
        {% if messages %}
            {% for message in messages%}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
        {% endif %}

    </div>
    
    
{% endblock %}

