
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'contacto/css/style.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- AdminLTE CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <!-- OverlayScrollbars CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css">




         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- AdminLTE JS -->
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

        <!-- Bootstrap JS (Requiere jQuery y Popper.js) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
       
        
        <!-- OverlayScrollbars JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/jquery.overlayScrollbars.min.js"></script>

        <script src="{% static 'contacto/js/inicio.js' %}"></script>

        <script>
        $.widget.bridge('uibutton', $.ui.button)
        </script>
   
    </head>
   <body class="sidebar-mini layout-fixed control-sidebar-slide-open layout-navbar-fixed layout-footer-fixed">

<div class="wrapper">
   <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light" style="background-color:#4F776C;border-bottom: solid #258bdc;">
    <div class="container-fluid" style="color: lavender;">
        <!-- Start navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar-full" href="#" role="button"><i class="fas fa-bars" style="color: #D4D6E1;"></i></a>
            </li>
            <li class="nav-item d-none d-md-inline" style="margin-top: 2px;">
                <a href="#" class="brand-link">
                    <img src="{% static 'contacto/img/palacio-de-justicia.png' %}" alt="" class="brand-image">
                </a>
                <span class="Garet-Book brand-text font-weight-light" style="font-style: italic; vertical-align: -webkit-baseline-middle;">Seguimiento a Procesos Disciplinarios - SISPA</span>
            </li>
        </ul>
        <!-- End navbar links -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="index.php?action=salir" class="nav-link"><i class="fas fa-door-open" style="color:white"></i></a></li>
        </ul>
    </div>
</nav>
<!-- /.navbar -->
    <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-bg-dark sidebar-color-primary shadow" style="background-color: white;">
<div class="brand-container" style="position:absolute; width:100%; margin: top 10px;">
   <center> <img src="{% static 'contacto/img/datacom.png' %}" width="130" class="brand-image opacity-80"></center>
</div>
  <!-- Sidebar -->
  <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
    <div class="os-resize-observer-host observed">
        <div class="os-resize-observer" style="left: 0px; right: auto;">
        </div>
    </div>
    <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
        <div class="os-resize-observer">
        </div>
    </div>
    <div class="os-content-glue" style="margin: -8px; width: 249px; height: 53px;">
    </div>
    <div class="os-padding">
    <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
    <div class="os-content" style="padding: 8px; height: 100%; width: 100%; background-color: #4F776C;">
    <nav style="background-color: #4F776C;">
    <div class="card card-primary card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
  
        <img class="profile-user-img img-fluid img-circle" src="{% static 'contacto/img/3022662.png' %}"  alt="User profile picture"/>
       
  </div>
  <h4 class="Garet-Book profile-username text-center" style="color: #1B246F; margin-bottom: 0px;">Bienvenido 
  <p class="text-muted text-center" style="margin-bottom: 0px; font-size: medium;">
  Yasmani Gutierrez flores</p></h4></div></div>
  <ul id="navMenu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-header">
      <p>MENU PRINCIPAL</p></li>


      <li class="nav-item active" id="tab-index"><a href="{% url 'contacto_lista' %}" class="nav-link"><i class="fas fa-home colori"></i><p> Inicio</p></a></li>  

     
       <li class="nav-item" id="tab-SeccionSeis"><a href="{% url 'contacto_agregar' %}" class="nav-link"><i class="fas fa-folder nav-icon colori"></i><p> Agregar</p></a></li>
     
      <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-power-off nav-icon colori"></i><p> Salir</p></a></li>
    </ul></nav></div></div></div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
    <div class="os-scrollbar-track">
    <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div>
    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
    <div class="os-scrollbar-track">
    <div class="os-scrollbar-handle" style="height: 19.3717%; transform: translate(0px, 0px);"></div></div></div>
    <div class="os-scrollbar-corner"></div>
    </div>
  <!-- /.sidebar -->
</aside>

<footer class="main-footer" style="width: 100%; background-color: #eaeff5; font-size: 12px;" >
    <strong style="color: #4F776C;">Copyright &copy; 2024 TDI - Datacom S.R.L.. Todos los derechos reservados.</a></strong>
      <div class="float-right d-none d-sm-inline-block">
     </div>
</footer>


<div class="content-wrapper">

 {% block body %} 
    
    {% endblock %}
 </div>

  </div>
   

       </body>
</html>