.cuadro{

    background-color: #7edef6;
    padding: 2em;
    border-radius: 8px;
    width: 30%;
    margin-left: 20%;
    max-width: 40%;

    margin-top: 4%;
    
   
    
}

.contenedor-wrapper{
    background-color: hwb(0 100% 0%);
    width: 100%;
    max-width: 100%;
    padding: 2em;
    
    min-height: calc(100vh - 3.5rem);
    transition: margin-left 0.3s ease-in-out;
    z-index: 800;
}

.recuadro{
    margin-left: 12%;
    margin-top: 4%;
    width: 80%;

}


  
p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.349);
    font: bold;

}

.colori{
    color: hsl(0, 0%, 97%);
}

form input[type="text"],
form input[type="email"]{

    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
}

form textarea{
    width: 100% !important;;
    padding: 12px !important;;
    margin: 8px 0 !important;;
    border: 1px solid !important;;
    border-radius: 4px !important;;
    font-size: 14px !important;;
}

form button[type="submit"]{
    background-color: green;
    color: white;
    width: 100px;
    margin-left: 40%;
    margin-top: 10px;
    height: 30px;
}

.lista_contacto{
    color: #093101;
    font: bold;
}

form{
    display: flex;
    flex-direction: column;
}




@media screen and (max-width: 768px) {
    .usuario-header {
        display: none;
    }
    .brand-link img {
        width: 10%; /* Ajustar el tamaño de la imagen para pantallas pequeñas */
    }
    .brand-text {
        font-size: medium; /* Ajustar el tamaño del texto para pantallas pequeñas */
        margin-left: 1em; /* Reducir el margen para pantallas pequeñas */
    }
}


@media screen and (min-width: 769px) {
    .brand-link img {
        width: 10%; /* Tamaño normal de la imagen */
    }
    .brand-text {
        font-size: larger; /* Tamaño normal del texto */
        margin-left: 4em; /* Margen normal */
    }
}








        .modal-dialog-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - 1rem);
        }

        .custom-modal-width {
    max-width: 80%; /* Puedes ajustar este valor según tus necesidades */
}


        .main-content {

padding: 28px 10px; }



.navbar + .main-content {

padding: 105px 0 28px 5px; }

@media screen and (max-width: 767px) {

  .navbar + .main-content {

    padding-top: 155px; } }

   
    
.panel {

-webkit-border-radius: 3px;

-moz-border-radius: 3px;

border-radius: 3px;

-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

background-color: #fff;

margin-bottom: 30px; }

.panel .panel-heading,

.panel .panel-body,

.panel .panel-footer {

  padding-left: 25px;

  padding-right: 25px; }

.panel .panel-heading {

  padding-top: 20px;

  padding-bottom: 20px;

  position: relative; }

  .panel .panel-heading .panel-title {

    margin: 0;

    font-size: 18px;

    font-weight: 300; }

  .panel .panel-heading button {

    padding: 0;

    margin-left: 5px;

    background-color: transparent;

    border: none;

    outline: none; }

    .panel .panel-heading button i {

      font-size: 14px; }

.panel .panel-body {

  padding-top: 10px;

  padding-bottom: 15px; }

.panel .panel-note {

  font-size: 13px;

  line-height: 2.6;

  color: #777777; }

  .panel .panel-note i {

    font-size: 16px;

    margin-right: 3px; }

.panel .right {

  position: absolute;

  right: 20px;

  top: 32%; }

.panel.panel-headline .panel-heading {

  border-bottom: none; }

  .panel.panel-headline .panel-heading .panel-title {

    margin-bottom: 8px;

    font-size: 22px;

    font-weight: normal; }

  .panel.panel-headline .panel-heading .panel-subtitle {

    margin-bottom: 0;

    font-size: 14px;

    color: #8D99A8; }

.panel.panel-scrolling .btn-bottom {

  margin-bottom: 30px; }

.panel .table > thead > tr > td:first-child,

.panel .table > thead > tr > th:first-child,

.panel .table > tbody > tr > td:first-child,

.panel .table > tbody > tr > th:first-child,

.panel .table > tfoot > tr > td:first-child,

.panel .table > tfoot > tr > th:first-child {

  padding-left: 25px; }

.panel .table > thead > tr > td:last-child,

.panel .table > thead > tr > th:last-child,

.panel .table > tbody > tr > td:last-child,

.panel .table > tbody > tr > th:last-child,

.panel .table > tfoot > tr > td:last-child,

.panel .table > tfoot > tr > th:last-child {

  padding-left: 25px; }



.panel-footer {

background-color: #fafafa; }





.metric {

-webkit-border-radius: 3px;

-moz-border-radius: 3px;

border-radius: 3px;

padding: 20px;

margin-bottom: 30px;

border: 1px solid #DCE6EB; }

.metric .icon {

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;

  float: left;

  width: 50px;

  height: 50px;

  line-height: 40px;

  background-color: #B8E8D4;

  text-align: center; }

 

.metric p {

  margin-bottom: 0;

  line-height: 1.2;

  text-align: right; }

.metric .number {

  display: block;

  font-size: 28px;

  font-weight: 300; }

.metric .title {

  font-size: 16px; 
    color:green;
}


.timeline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin: 50px 0;
            margin-left:72px;
            margin-right:72px;
            margin-bottom: 180px;
            margin-top:100px;
            
        }

        .timeline::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: #ccc;
            z-index: 1;
        }

        .timeline-point {
            position: relative;
            z-index: 2;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .timeline-point span {
            position: absolute;
            font-size:12px;
            top: 30px;
            left: 40%;
            transform: translateX(-50%);
            white-space: nowrap;
            background: #fff;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }




