{% extends "./index.html" %}

{% block body %}
<center>
   <div class="cuadrito">

           <h1>Inicio de Sesion </h1>
            <form method="POST">
  
                {% csrf_token %} 

               
                   {{formulario.as_p}} 

            
            
            <button type="submit" class="btn btn-success">Login</button>
         
            </form>

            <a href="{% url 'registro_vista' %}">Registrate...</a>

        
        </div>
    </center>

 {% endblock %}